<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div>

      <% include ../partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>AdCentsE16</h2>
          <p>
            The AdCentsE16 application is a bitcoin powered advertisement network running on the 21.co platform.
            Anyone can sign up to host ads on their website and get paid in bitcoin.
            Anyone can pay bitcoin to have their ad shown on a specified website.
          </p>
          <div align="center">
            <img src="/img/adcentse16.png" alt="AdCentsE16 Network"/>
          </div>
          <br />
          <p>
            See the Github project to find out more information and learn how to use it.
          </p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/pooleja/AdCentsE16" role="button">View on Github</a></p>
          <br />

          <% if (typeof AdCentsE16Token != 'undefined' && AdCentsE16Token ){ %>
            <div class="" style="text-align: center;">
              <h2>Live Ad</h2>
              <iframe src="/ad/<%= AdCentsE16Token%>" width="500" frameborder="1" ></iframe>
            </div>
          <% } %>

          <br />
          <br />
          <h2>Preview Your Ad</h2>
          <p>
            To test out how an ad looks on the system and preview your ad, view the preview link here.
          </p>
          <p><a class="btn btn-primary btn-lg" href="/ad/demo" role="button">Preview Ad</a></p>
          <br />

        </div>
      </div>


    </div>
  </body>
</html>
