<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div>

      <% include ../partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>AlienSearchE16</h2>
          <p>
            AlienSearchE16 is a bitcoin payable web app designed for the 21 Marketplace to allow clients to pay for the server to run SETI@home.
            If we do find aliens one day, we think they would be intrigued by bitcoin.
          </p>
          <br />
          <div align="center">
            <img src="/img/seti_logo.png" alt="SETI@home Logo"/>
          </div>
          <br />
          <p>
            See the Github project to find out more information and learn how to install/configure it.
          </p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/pooleja/AlienSearchE16" role="button">View on Github</a></p>
        </div>
      </div>


    </div>
  </body>
</html>
