<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div>

      <% include ../partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>Ping21AggregatorE16</h2>
          <p>
            Ping21AggregatorE16 is an Intellient Buying Agent running on the 21.co network.
          </p>
          <p>
            This is a Ping21 Aggregator that will select for lowest price among the Ping21 nodes when a request comes in.
            It will charge the client the cost charged by all the Ping21 nodes plus 1,000 satoshis for the aggregation service.
          </p>
          <br />
          <div align="center">
            <img src="/img/ping-aggregator.png" alt="Ping21AggregatorE16 Diagram"/>
          </div>
          <br />
          <p>
            See the Github project to find out more information and learn how to use it.
          </p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/pooleja/Ping21AggregatorE16" role="button">View on Github</a></p>
        </div>
      </div>


    </div>
  </body>
</html>
