<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div>

      <% include ../partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>RevE16</h2>
          <p>
            RevE16 is a 21 Application that allows you to sell your device revenue information for bitcoin.
            Clients can pay to learn about how much revenue you are generating with your 21 node.
          </p>
          <div align="center">
            <img src="/img/blogo.png" alt="Bitcoin Symbol" style="width:300px;height:300px;"/>
          </div>
          <p>
            See the Github project to find out more information and learn how to install/configure it.
          </p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/pooleja/RevE16" role="button">View on Github</a></p>
        </div>
      </div>


    </div>
  </body>
</html>
