<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div>

      <% include ../partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>SensorE16</h2>
          <p>
            SensorE16 is a 21 Application that allows you to sell your local temperature information for bitcoin.
            By connecting a USB temperature probe to any computer and running the application on the 21 platform, you can provide temperature
            data to anyone who is interested in getting it.
          </p>
          <div align="center">
            <img src="/img/temp.jpg" alt="TEMPer USB temperature prob" style="width:300px;height:300px;"/>
          </div>
          <p>
            See the Github project to find out more information and learn how to install/configure it.
          </p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/pooleja/sensorE16" role="button">View on Github</a></p>
        </div>
      </div>


    </div>
  </body>
</html>
