<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div>

      <% include ../partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>SpeedE16</h2>
          <p>
            SpeedE16 is a server that runs on the 21 network to allow clients to test bandwidth between nodes.  A client can upload/download
            files to the server in order to test how long it takes.
          </p>
          <p>
            A SpeedE16 server can also be asked from a remote client to test the speed between itself and another server running SpeedE16.
          </p>
          <br />
          <div align="center">
            <img src="/img/speed.png" alt="SpeedE16 Diagram"/>
          </div>
          <br />
          <p>
            See the Github project to find out more information and learn how to install/configure it.
          </p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/pooleja/SpeedE16" role="button">View on Github</a></p>
        </div>
      </div>


    </div>
  </body>
</html>
