<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div>

      <% include ../partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>StatsE16</h2>
          <p>
            StatsE16 is a 21 Application that allows you to sell your device information for bitcoin.
            By providing information about your CPU, Disk, Memory, and Location, consumers of this service can understand
            the capacity of your device and what sort of performance to expect.
          </p>
          <p>
            See the Github project to find out more information and learn how to install/configure it.
          </p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/pooleja/StatsE16" role="button">View on Github</a></p>
        </div>
      </div>


    </div>
  </body>
</html>
