<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <div>

      <% include ../partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>TranscodeE16</h2>
          <p>
            TranscodeE16 is a 21 Application that allows you to perform video transcoding as a service.  Clients can submit jobs to your
            21 node and use your CPU/GPU to convert videos to different formats and sizes to allow them to be viewed on different devices
            and platforms.
          </p>
          <br />
          <div align="center">
            <img src="/img/transcode.png" alt="Transcode Diagram" style="width:400px"/>
          </div>
          <br />
          <p>
            See the Github project to find out more information and learn how to install/configure it.
          </p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/pooleja/TranscodeE16" role="button">View on Github</a></p>
        </div>
      </div>


    </div>
  </body>
</html>
