<%
var displayTitle = "E16";
if(title != ''){
  displayTitle += " - " + title;
}
%>

<head>
  <title><%= displayTitle %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="D57yFHp2825ChooBzm6sTQX4w0Ox4OXGY4clVY7I07M" />

  <% if (typeof AdCentsE16Token != 'undefined' && AdCentsE16Token ){ %>
    <meta name="AdCentsE16-site-verification" content="<%= AdCentsE16Token%>" />
  <% } %>



  <meta name="keywords" content="E16, esixteen.co, esixteen, bitcoin micropayments, payment, micropayment, bitcoin, 21, 21.co, grid, grid computing, payment channel, network, platform">
  <meta name="description" content="eSixteen.co is a provider of services on top of the 21.co computing network">

  <style>
      #map {
        height: 500px;
      }

      #canvas-container {
        text-align:center;
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      canvas {
        display: inline;
      }

      body {
        padding-top: 10px;
      }

  </style>

  <script src='https://www.google.com/recaptcha/api.js'></script>

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
