<%
var displayTitle = "E16";
if(title != ''){
  displayTitle += " - " + title;
}
%>

<head>
  <title><%= displayTitle %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="D57yFHp2825ChooBzm6sTQX4w0Ox4OXGY4clVY7I07M" />

  <% if (typeof AdCentsE16Token != 'undefined' && AdCentsE16Token ){ %>
    <meta name="AdCentsE16-site-verification" content="<%= AdCentsE16Token%>" />
  <% } %>



  <meta name="keywords" content="E16, esixteen.co, esixteen, bitcoin micropayments, payment, micropayment, bitcoin, 21, 21.co, grid, grid computing, payment channel, network, platform">
  <meta name="description" content="eSixteen.co is a provider of services on top of the 21.co computing network">

  <style>
      #map {
        height: 500px;
      }

      #canvas-container {
        text-align:center;
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      canvas {
        display: inline;
      }

      body {
        padding-top: 10px;
      }

  </style>

  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
