<%
var statsClass = "dropdown";
var appsClass = "dropdown";
var registerClass = "";
var learnClass = "";

if (title == "Stats"){
  statsClass += " active";
} else if (title == "Services"){
  appsClass += " active";
} else if (title == "Register"){
  registerClass = "active";
} else if (title == "Learn"){
  learnClass = "active";
}

%>

<nav class="navbar navbar-inverse" role="navigation" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-left"><img src="/img/E16_Logo_100.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li class="<%= appsClass %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/apps/adcentse16">AdCentsE16</a></li>
              <li><a href="/apps/aliensearche16">AlienSearchE16</a></li>
              <li><a href="/apps/dnse16">DnsE16</a></li>
              <li><a href="/apps/elastice16">ElasticsearchE16</a></li>
              <li><a href="/apps/sensore16">SensorE16</a></li>
              <li><a href="/apps/speede16">SpeedE16</a></li>
              <li><a href="/apps/statse16">StatsE16</a></li>
              <li><a href="/apps/transcodee16">TranscodeE16</a></li>
            </ul>
         </li>
         <li class="<%= statsClass %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/stat/">Grid</a></li>
              <li><a href="/stat/map">Locations</a></li>
              <li><a href="/stat/count">Counts</a></li>
            </ul>
         </li>
         <li class="<%= learnClass %>"><a href="/learn">Learn</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
            <li class="<%= registerClass %>"><a href="/register">Register your 21 Node</a></li>
      </ul>
    </div>
  </div>
</nav>
