<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <div>

      <% include ./partials/nav %>

      <br/>
      <div class="container" align="cener">
          <div align="center">
            <h1 >"The next platform will be the grid."</h1>
            <div align="right" style="margin-right: 300px">
              -James Poole
              <br />
              (Yes I just quoted myself)
            </div>
        </div>
      </div>



    </div>
  </body>
</html>
