<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <div>

      <% include ./partials/nav %>

      <br/>
      <div class="container" style="margin-bottom:100px">
          <div align="center">
            <img src="/img/network.png" />
            <h1>Welcome to the grid.</h1>
        </div>
      </div>

      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
      	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="//esixteen.us13.list-manage.com/subscribe/post?u=e916d30a49c698d32920c928b&amp;id=9b529e57ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
      	<label for="mce-EMAIL">Keep up to date by joining our mailing list</label>
      	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e916d30a49c698d32920c928b_9b529e57ae" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <br />
      <br />

      <div class="" style="text-align: center;">
        <iframe src="https://www.esixteen.co/ad/A2561FJD24CXW5IFPH2Z" width="500" frameborder="1" ></iframe>
      </div>

      <!--End mc_embed_signup-->

    </div>
  </body>
</html>
