<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <div>

      <% include ./partials/nav %>

      <br/>
      <div class="container" align="cener">
          <div align="center">
            <img src="/img/network.png" />
            <h1>Welcome to the grid.</h1>
        </div>
      </div>



    </div>
  </body>
</html>
