<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <div>

      <% include ./partials/nav %>

      <div class="container">
        <div class="jumbotron">
          <h2>Part 1 - Install the 21 Software</h2>
          <p>
            Learn how to get the 21.co software installed on a brand new Amazon EC2 instance in under 6 minutes.
          </p>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vG-IoQFBlMU" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="jumbotron">
          <h2>Part 2 - Set up Ping21</h2>
          <p>
            Learn how to install and configure the Ping21 service.  This will allow you to earn bitcoin on the 21.co network by pinging
            websites and servers and reporting stats.
          </p>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sdb5LL4EytI" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="jumbotron">
          <h2>Part 3 - Run Ping21 as a Microservice</h2>
          <p>
            Learn how to install and configure Ping21 as a microservice running in a docker container.  Using this method is much easier to
            get up and running.  This will allow you to earn bitcoin on the 21.co network by pinging
            websites and servers and reporting stats.
          </p>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JLWIICqXYv0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

      </div>


    </div>
  </body>
</html>
