<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <div>
      <% include ./partials/nav %>
      <br/>

      <div class="container">

        <h1>Ping21 Locations</h1>
        <p>On a daily basis the system uses 10 random "21 Computers" to ping this domain.  This is a visual representation of the location of all nodes discovered so far .</p>
        <div style="padding-left: 5%; padding-right: 5%;">
          <div id="map"></div>
        </div>

        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 28.148682, lng: -1.752789},
              zoom: 2
            });

            <% for (var i = 0; i < navPoints.length; i++) { %>
              var latlong = new google.maps.LatLng(<%= navPoints[i].lat %>, <%= navPoints[i].long %>)
              var marker = new google.maps.Marker({
                position: latlong,
                map: map
              });
              marker.setMap(map);
            <% } %>
          }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&libraries=visualization&callback=initMap" async defer></script>
      </div>
    </div>
  </body>
</html>
