<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <div>
      <% include ./partials/nav %>
      <br/>

      <div class="container">

        <h1>Ping21 Locations</h1>
        <p>On a daily basis the system uses 10 random "21 Computers" to ping this domain.  This is a visual representation of the location of all nodes discovered so far .</p>
        <div id="map"></div>
        <script>
          var map, heatmap;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 37.7749, lng: -122.4194},
              zoom: 9
            });

            heatmap = new google.maps.visualization.HeatmapLayer({
              data: getPoints(),
              map: map
            });
          }

          function getPoints() {
            var points  = [];

            <% for (var i = 0; i < navPoints.length; i++) { %>
                points.push( new google.maps.LatLng(<%= navPoints[i].lat %>, <%= navPoints[i].long %>));
            <% } %>

            return points;
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&libraries=visualization&callback=initMap" async defer></script>
      </div>
    </div>
  </body>
</html>
